* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	padding-left: 5vw;
	padding-right: 5vw;
}

header {
	display: flex;
	justify-content: space-between;
}

nav {
	display: flex;
	align-items: center;
}

.header-link {
	margin: 6px;
}

#hero,
header {
	padding: 6vh;
	background-color: #1f2937;
}

#hero {
	display: flex;
	justify-content: start;
	padding-left: 5vw;
	padding-right: 5vw;
	align-items: center;
}

.hero-content {
	flex: 2;
}

.hero-image {
	flex: 1;
}

.hero-image img {
	height: 100%;
	width: 100%;
}

.hero-content h1 {
	font-size: 48px;
	font-weight: bold;
	color: #f9faf8;
}

#logo {
	font-size: 24px;
	color: #f9faf8;
}

.header-link,
.hero-content p {
	font-size: 18px;
	color: #e5e7eb;
}
#about h2 {
	display: flex;
	justify-content: center;
	margin-top: 4vh;
}
.about-blurbs {
	display: flex;
	justify-content: center;
}

.blurb {
	flex: 1;
	margin: 0.5rem;
}

.blurb img {
	border: #3882f6 2px solid;
	border-radius: 4px;
	height: auto;
	width: 100%;
}
button {
	border: #3882f6;
	color: #e5e7eb;
	padding: 4px 8px;
	border-radius: 4px;
}

#CTA,
button {
	background-color: #3882f6;
}

#about h2 {
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
}

#social-proof {
	background-color: #e5e7eb;
}

#social-proof em {
	font-size: 36px;
	color: #1f2937;
}

footer {
	background-color: #1f2937;
}
